################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/windows_app/.vs
/app2/node_modules
/windows_app/bin/Debug/net7.0-windows
/windows_app/obj

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
/app2/client/.DS_Store
/app2/client/.env.local
/app2/client/.env.development.local
/app2/client/.env.test.local
/app2/client/.env.production.local

/app2/client/npm-debug.log*
/app2/client/yarn-debug.log*
/app2/client/yarn-error.log*
/app2/client/node_modules
